[submodule "script"]
	path = script
	url = https://github.com/ProjectIgnis/CardScripts.git
[submodule "expansions"]
	path = expansions
	url = https://github.com/ProjectIgnis/BabelCDB.git
[submodule "puzzles/Canon collection"]
	path = puzzles/Canon collection
	url = https://github.com/ProjectIgnis/Puzzles.git
